
#create_schedule {
  margin: 10px 0;

  & input {
    background-color: $negative_text_color;
    border: none;
    padding: 5px;
    border-radius: 5px;

    &:not( [type="submit"] ) {
      display: flex;
      width: auto;
    }

    &[type="radio"] {
      display: none;

      & + label {
        user-select: none;

        color: $text_color;

        &:first-of-type {
          margin: 0 10px;
        }
      }

      &:checked + label {
        color: unset;
        text-decoration: underline;
      }
    }

    &:focus {
      outline: none;
    }

    &::placeholder {
      font-style: italic;
    }
  }

  & textarea {
    resize: vertical;

    &:focus {
      outline: none;
    }
  }
}

#form_submit[form="create_schedule"] {
  margin-top: 10px;
  padding: 10px;

  border: none;
  border-radius: 5px;
  font-size: 1.2em;
  color: $negative_text_color;
  background-color: $theme_color_dark;

  &:hover {
    background-color: $theme_color_light;
  }
}