
.profile_header {
  margin: $container_padding;
  margin-bottom: $container_padding*3;

  & > .profile_info {
    margin-left: 30px;
    justify-content: center;
  }
}

.profile_picture {
  border-radius: 50%;
  border: 1px solid #333;
  padding: 2px;
  box-shadow: 0 4px 10px -4px black;
}