RewriteEngine on

RewriteRule ^(\w*)$ index.php [NC] [L]
RewriteRule ^API/(\w+\.api\.php)$ API/$1 [NC] [L]
RewriteRule ^Source/Helper/(\w+)$ Source/Helper/$1 [NC] [L]
RewriteRule ^Source/Style/(\w+\.css)$ Source/Style/$1 [NC] [L]
RewriteRule ^Media/(\w+\.png)$ Source/Media/$1 [NC] [L]
RewriteRule ^Media/(\w+\.jpg)$ Source/Media/$1 [NC] [L]

# If nt any of these links cath it, then
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.php [L]