@import url("https://fonts.googleapis.com/css?family=Berkshire+Swash");
@import url("https://fonts.googleapis.com/css?family=Oxygen");
@import url("https://fonts.googleapis.com/css?family=Karma:300,400,500,600,700");
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

body {
  min-height: 100vh;
  background-color: #333;
  font-family: "Karma", serif;
  font-size: 14px; }
  @media (min-width: 480px) {
    body {
      font-size: 16px; } }

.container {
  flex-basis: 100%;
  background-color: #eee; }
  @media (min-width: 768px) {
    .container {
      flex-basis: 668px; } }
  @media (min-width: 1200px) {
    .container {
      flex-basis: 1000px; } }

.row {
  display: flex;
  flex-direction: column; }

.col {
  display: flex;
  flex-direction: row; }

.full {
  flex-grow: 1; }

.wrap {
  flex-wrap: wrap; }

.center {
  justify-content: center; }

.center-text {
  text-align: center; }

.hidden {
  display: none !important; }

script {
  display: none !important; }

a {
  color: #2980b9;
  text-decoration: none; }
  a:hover {
    color: #3498db; }

span {
  font-size: 0.75em; }

button {
  cursor: pointer;
  align-items: center;
  justify-content: center; }

.main {
  padding: 0 15px;
  padding-bottom: 15px; }

.info_box {
  flex: 1 1 100%;
  margin: 5px;
  background-color: ghostwhite;
  border-collapse: collapse;
  border-radius: 15px;
  padding: 25px 0;
  text-align: center;
  font-size: 1em;
  font-weight: 500; }
  @media (min-width: 768px) {
    .info_box {
      flex: 1 1 309px; } }
  @media (min-width: 1200px) {
    .info_box {
      flex: 1 1 313.33333px; } }
  .info_box > h3 {
    font-family: "Oxygen", sans-serif;
    margin-bottom: 10px; }

.info_table {
  width: calc( 100% + 6px );
  margin: 0 -3px;
  border-spacing: 3px;
  background-color: #eee;
  font-weight: inherit;
  font-size: 1em; }
  .info_table td, .info_table tr {
    padding: 10px;
    text-align: center; }
  .info_table td {
    min-width: 80px;
    background-color: ghostwhite; }

#header {
  margin-bottom: 10px;
  background-color: #2980b9; }
  #header .container {
    background-color: inherit; }

#header_menu {
  position: relative;
  flex-basis: 36px;
  user-select: none;
  background-color: #3498db; }
  #header_menu > * {
    display: flex;
    flex-basis: 120px;
    justify-content: center;
    align-items: center;
    font-family: "Oxygen", sans-serif;
    font-size: inherit;
    color: ghostwhite;
    background-color: inherit;
    border-right: 3px solid rgba(0, 0, 0, 0.1);
    transition: 0.3s all ease-in-out; }
    #header_menu > *:not(.login_form):hover {
      box-shadow: inset 0 -3px 0 ghostwhite; }
    #header_menu > *:focus {
      outline: none; }
  #header_menu > *:last-of-type {
    border-right: unset; }
  #header_menu > button {
    border: none;
    margin-left: auto; }
  #header_menu > .login_form {
    margin-left: auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 120px;
    transform: translateY(-100%); }
  #header_menu > .login_form.active {
    transform: translateY(0); }

.login_form {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  background-color: inherit;
  padding: 5px;
  padding-top: 20px; }
  .login_form > * {
    display: flex;
    height: 36px;
    align-items: center;
    width: 100%; }
  .login_form > label {
    justify-content: center; }
  .login_form > input {
    margin-bottom: 5px;
    font-family: inherit; }
  .login_form > button {
    margin-top: 5px;
    text-align: center; }

/*# sourceMappingURL=style.css.map */
