
$schedule_color : #96d2fa;    //  $theme_color_light;

.schedule_list {
  margin: 10px $container_padding*3;

  & > i {
    margin: 10px;
    align-self: center;
  }
}


.schedule {
  margin-bottom: 30px;

  border-radius: 15px;
  box-shadow: 0 4px 10px -4px black;
  font-family: $header_font;

  &:last-child {
    margin-bottom: unset;
  }

  .header {
    align-items: baseline;
    padding: 10px 20px;
    padding-left: 10px;

    border-radius: $corner_radius $corner_radius 0 0;
    background-color: $schedule_color;

    .is_long {
      margin-right: 10px;
      background-color: $theme_color_dark;
      color: $negative_text_color;
      padding: 5px;
      border-radius: 8px;
    }

    .name {
      font-size: 1.3em;
    }

    .date {
      margin-left: 10px;
      color: $text_color_faded;
      font-size: 0.8em;
    }

    .created_by {
      margin-left: 10px;
    }

    .like {
      margin-left: auto;

      button {
        border: none;
        background-color: transparent;
        font-size: 1.3em;
        filter: grayscale(100%);
        user-select: none;

        transition: 0.3s all ease-in-out;

        &:hover {
          transform: translateX( -30% );
        }

        @keyframes like {
          0% {
            transform: translateX( 0 );
          }
          50% {
            transform: translateX( 120% );
          }

          100% {
            transform: translateX( 0 );
            filter: grayscale(0);
          }
        }

        //&:active {
        //  animation: like 0.3s;
        //  outline: none;
        //}

        &:focus {
          outline: none;
        }
      }
    }
  }

  .body {
    padding: 10px 20px;

    border: 2px solid $schedule_color;
    border-top: none;
    border-radius: 0 0 $corner_radius $corner_radius;

  }
}