$large_view : 1200px;
$medium_view : 768px;
$mobile_view : 480px;

$info_box_gutter : 10px;

//$container_lg : $large_view - 200px;
//$container_md : $medium_view - 200px;
//$container_mo : calc( 100% - 60px );
$container_lg : $large_view - 200px;
$container_md : $medium_view - 100px;
$container_mo : 100%;

$info_box_lg : ($container_lg - 6*$info_box_gutter) / 3;
$info_box_md : ($container_md - 5*$info_box_gutter)  / 2;
$info_box_mo : $container_mo;

$corner_radius : 15px;

$info_box_bg : ghostwhite;
$content_bg : #eee;
$text_color : #222;
$negative_text_color : ghostwhite;
$theme_color_light : #2980b9;
$theme_color_dark : #3498db;

@import url("https://fonts.googleapis.com/css?family=Berkshire+Swash");
@import url("https://fonts.googleapis.com/css?family=Oxygen");
@import url("https://fonts.googleapis.com/css?family=Karma:300,400,500,600,700");

$header_font : 'Oxygen', sans-serif;
$text_font : 'Karma', serif;
$title_font : 'Berkshire Swash', cursive;

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  background-color: #333;
  font-family: $text_font;
  font-size: 14px;
  color: $text_color;

  @media( min-width : $mobile-view ) {
    font-size: 16px;
  }
}

.container {

  flex-basis: $container_mo;

  @media (min-width: $medium_view){
    flex-basis: $container_md;
  }

  @media (min-width: $large_view){
    flex-basis: $container_lg;
  }
  background-color: $content_bg;
}

.row {
  display: flex;
  flex-direction: column;
}

.col {
  display: flex;
  flex-direction: row;
}

.full {
  flex-grow: 1;
}

.wrap {
  flex-wrap: wrap;
}

.col.center {
  justify-content: center;
}

.row.center {
  align-items: center;
}

.center-text {
  text-align: center;
}

.hidden {
  display: none !important;
}

//  End of Structural Classes

script {
  display: none !important;
}

a {
  color: $theme_color_light;
  text-decoration: none;

  &:hover{
    color: $theme_color_dark;
  }
}

span {
  font-size: 0.75em;
}

button, input[type="submit"] {
  cursor: pointer;
  align-items: center;
  justify-content: center;
}

.main {
  padding: 0 $info_box_gutter*1.5;
  padding-bottom: $info_box_gutter*1.5;
}

// Unused Modules
/*
.info_box{
  flex: 1 1 $info_box_mo;

  @media (min-width: $medium_view){
    flex: 1 1 $info_box_md;
  }

  @media (min-width: $large_view){
    flex: 1 1 $info_box_lg;
  }

  margin: $info_box_gutter / 2;

  background-color: $info_box_bg;
  border-collapse: collapse;
  border-radius: $corner_radius;
  padding: $corner_radius+10px 0;

  text-align: center;
  font-size: 1em;
  font-weight: 500;

  & > h3 {
    font-family: $header_font;
    margin-bottom: 10px;
  }
}

.info_table {
  width: calc( 100% + 6px );
  margin: 0 -3px;

  border-spacing: 3px;
  background-color: $content_bg;
  font-weight: inherit;
  font-size: 1em;

  & td, & tr {
    padding: 10px;
    text-align: center;
  }

  & td {
    min-width: 80px;
    background-color: $info_box_bg;
  }
}
*/

//  header.modal
$header_height : 36px;
$header_menu_item_width : 120px;
#header {
  margin-bottom: 10px;
  background-color: #2980b9;

  & .container {
    background-color: inherit;
  }
}

#header_menu {
  position: relative;
  flex-basis: $header_height;
  user-select: none;
  background-color: #3498db;

  & > * {
    display: flex;
    flex-basis: $header_menu_item_width;
    justify-content: center;
    align-items: center;

    font-family: $header_font;
    font-size: inherit;
    color: $negative_text_color;
    background-color: inherit;
    border-right: 3px solid rgba(0,0,0, 0.1);

    transition: 0.3s all ease-in-out;

    &:not( .login_form ):not( .register_form ):hover {
      box-shadow: inset 0 -3px 0 $negative_text_color;
    }

    &:focus {
      outline: none;
    }
  }

  & > .menu_divider, & > :last-child, & > form {
    border-right: unset;
  }

  & > .menu_divider {
    margin-right: auto;
  }

  & button {
    flex-basis: 2* $header_menu_item_width;
    border: none;
  }

  & > .login_form, & > .register_form {
    position: absolute;
    right: 0;
    top: 0;
    width: 2* $header_menu_item_width;
    transform: translateY(-100%);

    &.active {
      transform: translateY(0);
      box-shadow: 0 6px 24px -6px #444444;
    }
  }
}

.register_form {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;

  background-color: inherit;
  padding: 10px;
  padding-top: $header_height/2;

  & > * {
    display: flex;
    height: $header_height;
    align-items: center;
    width: 100%;
  }

  & > label {
    justify-content: center;
  }

  & > input {
    margin-bottom: 8px;
    font-family: inherit;
    height: 1.8em;
    padding: 0 10px;
    border: none;

    &[type="submit"] {

      margin: 10px 40px;
      margin-bottom: 5px;
    }
  }
}

.login_form {
  @extend .register_form;

  & > button {
    margin-bottom: $header_height/2;

    background-color: $negative_text_color;
    color: $text_color;
    font-style: italic;
  }
}

// fresh_schemes.modal
#schedule_list {


}