$large_view : 1200px;
$medium_view : 768px;
$mobile_view : 480px;

$info_box_gutter : 10px;

//$container_lg : $large_view - 200px;
//$container_md : $medium_view - 200px;
//$container_mo : calc( 100% - 60px );
$container_lg : $large_view - 200px;
$container_md : $medium_view - 100px;
$container_mo : 100%;

$info_box_lg : ($container_lg - 6*$info_box_gutter) / 3;
$info_box_md : ($container_md - 5*$info_box_gutter)  / 2;
$info_box_mo : $container_mo;

$corner_radius : 15px;

$container_padding : 20px;

$info_box_bg : ghostwhite;
$content_bg : #eee;
$text_color : #222;
$text_color_faded : #666;
$negative_text_color : ghostwhite;
$theme_color_light : #2980b9;
$theme_color_dark : #3498db;

@import url("https://fonts.googleapis.com/css?family=Berkshire+Swash");
@import url("https://fonts.googleapis.com/css?family=Oxygen");
@import url("https://fonts.googleapis.com/css?family=Karma:300,400,500,600,700");

$header_font : 'Oxygen', sans-serif;
$text_font : 'Karma', serif;
$title_font : 'Berkshire Swash', cursive;

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  background-color: #333;
  font-family: $text_font;
  font-size: 14px;
  color: $text_color;

  @media( min-width : $mobile-view ) {
    font-size: 16px;
  }
}

.container {

  flex-basis: $container_mo;

  @media (min-width: $medium_view){
    flex-basis: $container_md;
  }

  @media (min-width: $large_view){
    flex-basis: $container_lg;
  }
  background-color: $content_bg;
}

.row {
  display: flex;
  flex-direction: column;
}

.col {
  display: flex;
  flex-direction: row;
}

.full {
  flex-grow: 1;
}

.wrap {
  flex-wrap: wrap;
}

.col.center {
  justify-content: center;
}

.row.center {
  align-items: center;
}

.center-text {
  text-align: center;
}

.hidden {
  display: none !important;
}

//  End of Structural Classes

script {
  display: none !important;
}

a {
  color: $theme_color_light;
  text-decoration: none;

  &:hover{
    color: $theme_color_dark;
  }
}

span {
  font-size: 0.75em;
}

button, input[type="submit"] {
  cursor: pointer;
  align-items: center;
  justify-content: center;
}

.main {
  padding: 0 $info_box_gutter*1.5;
  padding-bottom: $info_box_gutter*1.5;
}

// Unused Modules
/*
.info_box{
  flex: 1 1 $info_box_mo;

  @media (min-width: $medium_view){
    flex: 1 1 $info_box_md;
  }

  @media (min-width: $large_view){
    flex: 1 1 $info_box_lg;
  }

  margin: $info_box_gutter / 2;

  background-color: $info_box_bg;
  border-collapse: collapse;
  border-radius: $corner_radius;
  padding: $corner_radius+10px 0;

  text-align: center;
  font-size: 1em;
  font-weight: 500;

  & > h3 {
    font-family: $header_font;
    margin-bottom: 10px;
  }
}

.info_table {
  width: calc( 100% + 6px );
  margin: 0 -3px;

  border-spacing: 3px;
  background-color: $content_bg;
  font-weight: inherit;
  font-size: 1em;

  & td, & tr {
    padding: 10px;
    text-align: center;
  }

  & td {
    min-width: 80px;
    background-color: $info_box_bg;
  }
}
*/

//  header.modal
@import "header.modal";

//  profile.modal
@import "profile.modal";

// fresh_schemes.modal
@import "schedule.modal";