$large_view : 1200px;
$medium_view : 768px;
$mobile_view : 480px;

$container_lg : $large_view - 200px;
$container_md : $medium_view - 100px;
$container_mo : 100%;

$corner_radius : 15px;

$container_padding : 20px;

$content_bg : #eee;
$text_color : #222;
$text_color_faded : #666;
$negative_text_color : ghostwhite;
$theme_color_light : #2980b9;
$theme_color_dark : #3498db;

@import url("https://fonts.googleapis.com/css?family=Berkshire+Swash");
@import url("https://fonts.googleapis.com/css?family=Oxygen");
@import url("https://fonts.googleapis.com/css?family=Karma:300,400,500,600,700");

$header_font : 'Oxygen', sans-serif;
$text_font : 'Karma', serif;
$title_font : 'Berkshire Swash', cursive;

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  background-color: #333;
  font-family: $text_font;
  font-size: 14px;
  color: $text_color;

  @media( min-width : $mobile-view ) {
    font-size: 16px;
  }
}

.container {

  flex-basis: $container_mo;

  @media (min-width: $medium_view){
    flex-basis: $container_md;
  }

  @media (min-width: $large_view){
    flex-basis: $container_lg;
  }
  background-color: $content_bg;
}

.row {
  display: flex;
  flex-direction: column;
}

.col {
  display: flex;
  flex-direction: row;
}

.full {
  flex: 1;
}

.wrap {
  flex-wrap: wrap;
}

.col.center {
  justify-content: center;
}

.row.center {
  align-items: center;
}

.center-text {
  text-align: center;
}

.hidden {
  display: none !important;
}

//  End of Structural Classes

script {
  display: none !important;
}

a {
  color: $theme_color_light;
  text-decoration: none;

  &:hover{
    color: $theme_color_dark;
  }
}

span {
  font-size: 0.75em;
}

button, input[type="submit"] {
  cursor: pointer;
  align-items: center;
  justify-content: center;
}

//  profile.view
@import "profile.view";

//  header.modal
@import "header.modal";

//  search.view
@import "search.view";

// schedule.modal
@import "schedule.modal";

//  Page Header (fresh.view.php)
.page_header {
  margin: $container_padding;
  letter-spacing: 2px;
  margin-bottom: 10px;
}

//  Home Page (home.view.php)
.intro_message {
  margin: $container_padding;

  p {
    font-size: 1.2em;
    width: 60%;
  }

  & + .schedule {
    margin: 0 $container_padding*3;
  }
}