@font-face {
    font-family: 'Nunito';
    //noinspection CssUnknownTarget
    src: url('Fonts/Nunito-ExtraLight.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Nunito';
    //noinspection CssUnknownTarget
    src: url('Fonts/Nunito-Regular.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Nunito';
    //noinspection CssUnknownTarget
    src: url('Fonts/Nunito-Italic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Nunito';
    //noinspection CssUnknownTarget
    src: url('Fonts/Nunito-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Nunito';
    //noinspection CssUnknownTarget
    src: url('Fonts/Nunito-ExtraBold.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}
