@import url("https://fonts.googleapis.com/css?family=Berkshire+Swash");
@import url("https://fonts.googleapis.com/css?family=Oxygen");
@import url("https://fonts.googleapis.com/css?family=Karma:300,400,500,600,700");
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

body {
  min-height: 100vh;
  background-color: #333;
  font-family: "Karma", serif;
  font-size: 14px;
  color: #222; }
  @media (min-width: 480px) {
    body {
      font-size: 16px; } }

.container {
  flex-basis: 100%;
  background-color: #eee; }
  @media (min-width: 768px) {
    .container {
      flex-basis: 668px; } }
  @media (min-width: 1200px) {
    .container {
      flex-basis: 1000px; } }

.row {
  display: flex;
  flex-direction: column; }

.col {
  display: flex;
  flex-direction: row; }

.full {
  flex: 1; }

.wrap {
  flex-wrap: wrap; }

.col.center {
  justify-content: center; }

.row.center {
  align-items: center; }

.center-text {
  text-align: center; }

.hidden {
  display: none !important; }

script {
  display: none !important; }

a {
  color: #2980b9;
  text-decoration: none; }
  a:hover {
    color: #3498db; }

span {
  font-size: 0.75em; }

h2 {
  margin-top: 20px;
  text-align: center; }

button, input[type="submit"] {
  cursor: pointer;
  align-items: center;
  justify-content: center; }

.profile_header {
  margin: 20px;
  margin-bottom: 60px; }
  .profile_header > .profile_info {
    margin-left: 30px;
    justify-content: center; }

.profile_picture {
  border-radius: 50%;
  border: 1px solid #333;
  padding: 2px;
  box-shadow: 0 4px 10px -4px black; }

#create_schedule {
  margin: 10px 0; }
  #create_schedule input {
    background-color: ghostwhite;
    border: none;
    padding: 5px;
    border-radius: 5px; }
    #create_schedule input:not([type="submit"]) {
      display: flex;
      width: auto; }
    #create_schedule input[type="radio"] {
      display: none; }
      #create_schedule input[type="radio"] + label {
        user-select: none;
        color: #222; }
        #create_schedule input[type="radio"] + label:first-of-type {
          margin: 0 10px; }
      #create_schedule input[type="radio"]:checked + label {
        color: unset;
        text-decoration: underline; }
    #create_schedule input:focus {
      outline: none; }
    #create_schedule input::placeholder {
      font-style: italic; }
  #create_schedule textarea {
    resize: vertical; }
    #create_schedule textarea:focus {
      outline: none; }

#form_submit[form="create_schedule"] {
  margin-top: 10px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 1.2em;
  color: ghostwhite;
  background-color: #3498db; }
  #form_submit[form="create_schedule"]:hover {
    background-color: #2980b9; }

#header {
  position: sticky;
  top: 0;
  z-index: 10;
  margin-bottom: 10px;
  background-color: #2980b9; }
  #header .container {
    background-color: inherit; }

#header_menu {
  position: relative;
  flex-basis: 36px;
  user-select: none;
  background-color: #3498db; }
  #header_menu > * {
    display: flex;
    flex-basis: 120px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-family: "Oxygen", sans-serif;
    font-size: inherit;
    color: ghostwhite;
    background-color: inherit;
    border-right: 3px solid rgba(0, 0, 0, 0.1);
    transition: 0.3s all ease-in-out; }
    #header_menu > *:focus {
      outline: none; }
    #header_menu > *.active {
      box-shadow: inset 0 -3px 0 ghostwhite; }
    #header_menu > *:not(.login_form):not(.register_form):not(.login_form):hover, #header_menu > *:not(.login_form):not(.register_form):not(.login_form):focus {
      box-shadow: inset 0 -3px 0 ghostwhite; }
  #header_menu > .menu_divider, #header_menu > :last-child, #header_menu > form {
    border-right: unset; }
  #header_menu > .menu_divider {
    margin-right: auto; }
  #header_menu button {
    flex-basis: 240px;
    border: none; }
  #header_menu > .login_form, #header_menu > .register_form, #header_menu > .login_form {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 100;
    width: 240px;
    transform: translateY(-100%); }
    #header_menu > .login_form.active, #header_menu > .register_form.active, #header_menu > .active.login_form {
      transform: translateY(0);
      box-shadow: 0 6px 24px -6px #444444; }

.register_form, .login_form {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  background-color: inherit;
  padding: 10px;
  padding-top: 18px; }
  .register_form > *, .login_form > * {
    display: flex;
    height: 36px;
    align-items: center;
    width: 100%; }
  .register_form > label, .login_form > label {
    justify-content: center; }
  .register_form > input, .login_form > input {
    margin-bottom: 8px;
    font-family: inherit;
    height: 1.8em;
    padding: 0 10px;
    border: none; }
    .register_form > input[type="submit"], .login_form > input[type="submit"] {
      margin: 10px 40px;
      margin-bottom: 5px; }
  .register_form > .error, .login_form > .error {
    height: 0;
    justify-content: center;
    margin-top: 10px;
    background-color: tomato;
    font-size: 0.8em;
    transition: all 0.3s ease-in; }
    .register_form > .error.active, .login_form > .error.active {
      height: unset;
      padding: 10px; }

.login_form > button {
  margin-bottom: 18px;
  background-color: ghostwhite;
  color: #222;
  font-style: italic; }

.schedule_list {
  margin: 10px 0; }
  .schedule_list > i {
    margin: 10px;
    align-self: center; }

.schedule {
  margin: 10px 60px;
  margin-bottom: 30px;
  border-radius: 15px;
  box-shadow: 0 4px 10px -4px black;
  font-family: "Oxygen", sans-serif; }
  .schedule:last-child {
    margin-bottom: unset; }
  .schedule .header {
    align-items: baseline;
    padding: 10px 20px;
    padding-left: 10px;
    border-radius: 15px 15px 0 0;
    background-color: #96d2fa; }
    .schedule .header > * {
      max-height: 30px; }
    .schedule .header .is_long {
      margin-right: 10px;
      background-color: #3498db;
      color: ghostwhite;
      padding: 5px 7px;
      border-radius: 8px; }
    .schedule .header .name a {
      font-size: 1.3em;
      color: #222; }
      .schedule .header .name a:hover {
        color: #3498db; }
    .schedule .header .date {
      margin-left: 10px;
      color: #666;
      font-size: 0.8em; }
    .schedule .header .created_by {
      margin-left: 10px; }
    .schedule .header .like {
      margin-left: auto; }
      .schedule .header .like button {
        margin-left: 30px;
        border: none;
        background-color: transparent;
        font-size: 1.3em;
        filter: grayscale(100%);
        user-select: none;
        transition: 0.3s all ease-in-out; }
        .schedule .header .like button:hover {
          transform: translateX(-30%); }
@keyframes like {
  0% {
    transform: translateX(0); }
  50% {
    transform: translateX(120%); }
  100% {
    transform: translateX(0);
    filter: grayscale(0); } }
        .schedule .header .like button:focus {
          outline: none; }
  .schedule .body {
    padding: 10px 20px;
    background-color: ghostwhite;
    border: 2px solid #96d2fa;
    border-top: none;
    border-radius: 0 0 15px 15px; }

.course {
  margin: 10px 60px;
  margin-bottom: 30px;
  border-radius: 15px;
  box-shadow: 0 4px 10px -4px black;
  font-family: "Oxygen", sans-serif; }
  .course:last-child {
    margin-bottom: unset; }
  .course .header {
    align-items: baseline;
    padding: 10px 20px;
    padding-left: 10px;
    border-radius: 15px 15px 0 0;
    background-color: #fa9696; }
    .course .header > * {
      max-height: 30px; }
    .course .header .is_long {
      margin-right: 10px;
      background-color: #db3434;
      color: ghostwhite;
      padding: 5px 7px;
      border-radius: 8px; }
    .course .header .name a {
      font-size: 1.3em;
      color: #222; }
      .course .header .name a:hover {
        color: #3498db; }
    .course .header .term {
      margin-left: 10px;
      color: #666;
      font-size: 0.8em; }
    .course .header .lecturer {
      margin-left: 10px; }
    .course .header .rating {
      margin-left: auto; }
      .course .header .rating button {
        border: none;
        background-color: transparent;
        font-size: 1.3em;
        filter: grayscale(100%);
        user-select: none;
        transition: 0.3s all ease-in-out; }
        .course .header .rating button:first-child {
          margin-left: 30px; }
        .course .header .rating button:focus {
          outline: none; }
  .course .body {
    padding: 10px 20px;
    background-color: ghostwhite;
    border: 2px solid #fa9696;
    border-top: none;
    border-radius: 0 0 15px 15px; }

.page_header {
  margin: 20px;
  letter-spacing: 2px;
  margin-bottom: 10px; }

.intro_message {
  margin: 20px; }
  .intro_message p {
    font-size: 1.2em;
    width: 60%; }
  .intro_message + .schedule {
    margin: 0 60px; }

/*# sourceMappingURL=style.css.map */
